* {
   
    margin: 0;
    padding: 0;
   
    background-image: url("image/bgimg.jpg");
    
    backface-visibility: true;

}




#container {
    width: 90%;
    height: 700px;
    position: relative;
    align-content: center;
    
    align-self: auto;
    overflow: hidden;
  
    background: white;
}
#slideshow {
    height: 90%;
    
    width: 90%;
}
#slideshow img {
    padding: 100px;
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    align-self: center;
}
#img{
    display: block;
    margin: auto;
    width: 50%;
}
#pager {
    height: 100px;
    width: 90%;
    position: center;
    bottom: 5%;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
#pager:hover {
   opacity: 10;
}    

#prev {
    height: 100px;
    width: 100px;
    position: center;
    top: 0;
    bottom: 0;
    left:0;
    margin: auto 10px;
}
 #next {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    margin: auto 10px;
}